[submodule "src/3rdparty/eigen"]
	path = src/3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "src/3rdparty/pybind11"]
	path = src/3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "src/3rdparty/glm"]
	path = src/3rdparty/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "src/3rdparty/googletest"]
	path = src/3rdparty/googletest
	url = https://github.com/google/googletest.git
	branch = main
[submodule "src/3rdparty/folly"]
	path = src/3rdparty/folly
	url = https://github.com/facebook/folly.git
	branch = main
[submodule "src/3rdparty/cpuinfo"]
	path = src/3rdparty/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
	branch = main
[submodule "src/3rdparty/gflags"]
	path = src/3rdparty/gflags
	url = https://github.com/gflags/gflags.git
	branch = master
[submodule "src/3rdparty/glog"]
	path = src/3rdparty/glog
	url = https://github.com/google/glog.git
	branch = master
[submodule "src/3rdparty/benchmark"]
	path = src/3rdparty/benchmark
	url = https://github.com/google/benchmark.git
	branch = main
[submodule "src/3rdparty/glbinding"]
	path = src/3rdparty/glbinding
	url = https://github.com/cginternals/glbinding.git
	branch = master
[submodule "src/3rdparty/jxrlib"]
	path = src/3rdparty/jxrlib
	url = https://github.com/4creators/jxrlib.git
	branch = master
[submodule "src/3rdparty/assimp"]
	path = src/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "src/3rdparty/ITK"]
	path = src/3rdparty/ITK
	url = https://github.com/InsightSoftwareConsortium/ITK.git
	branch = master
[submodule "src/3rdparty/vtk"]
	path = src/3rdparty/vtk
	url = https://gitlab.kitware.com/vtk/vtk.git
	branch = master
[submodule "src/3rdparty/opencv"]
	path = src/3rdparty/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.x
[submodule "src/3rdparty/opencv_contrib"]
	path = src/3rdparty/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 4.x
[submodule "src/3rdparty/grpc"]
	path = src/3rdparty/grpc
	url = https://github.com/grpc/grpc.git
	branch = master
[submodule "src/3rdparty/double-conversion"]
	path = src/3rdparty/double-conversion
	url = https://github.com/google/double-conversion.git
	branch = master
[submodule "src/3rdparty/fmt"]
	path = src/3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "src/3rdparty/libevent"]
	path = src/3rdparty/libevent
	url = https://github.com/libevent/libevent.git
	branch = master
[submodule "src/3rdparty/lz4"]
	path = src/3rdparty/lz4
	url = https://github.com/lz4/lz4.git
	branch = dev
[submodule "src/3rdparty/snappy"]
	path = src/3rdparty/snappy
	url = https://github.com/google/snappy.git
	branch = main
[submodule "src/3rdparty/xz"]
	path = src/3rdparty/xz
	url = https://github.com/tukaani-project/xz.git
	branch = master
[submodule "src/3rdparty/zstd"]
	path = src/3rdparty/zstd
	url = https://github.com/facebook/zstd.git
	branch = dev
[submodule "src/3rdparty/bzip2"]
	path = src/3rdparty/bzip2
	url = https://gitlab.com/federicomenaquintero/bzip2.git
	branch = master
[submodule "src/3rdparty/ceres-solver"]
	path = src/3rdparty/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "src/3rdparty/pocketfft"]
	path = src/3rdparty/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
	branch = cpp
[submodule "src/3rdparty/rocksdb"]
	path = src/3rdparty/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "src/3rdparty/simde"]
	path = src/3rdparty/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "src/3rdparty/GeometricTools"]
	path = src/3rdparty/GeometricTools
	url = https://github.com/davideberly/GeometricTools.git
[submodule "src/3rdparty/oneTBB"]
	path = src/3rdparty/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "src/3rdparty/SuiteSparse"]
	path = src/3rdparty/SuiteSparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
	branch = stable
[submodule "src/3rdparty/fizz"]
	path = src/3rdparty/fizz
	url = https://github.com/facebookincubator/fizz.git
[submodule "src/3rdparty/mvfst"]
	path = src/3rdparty/mvfst
	url = https://github.com/facebook/mvfst.git
[submodule "src/3rdparty/wangle"]
	path = src/3rdparty/wangle
	url = https://github.com/facebook/wangle.git
[submodule "src/3rdparty/proxygen"]
	path = src/3rdparty/proxygen
	url = https://github.com/facebook/proxygen.git
[submodule "src/3rdparty/llfio"]
	path = src/3rdparty/llfio
	url = https://github.com/ned14/llfio.git
[submodule "src/3rdparty/reflect"]
	path = src/3rdparty/reflect
	url = https://github.com/boost-ext/reflect.git
