*.bak
*.dylib
*.a
*.o
*.tar.gz
*.zip
*.tar.bz2
*.rar
*~

# slickedit file
*.vtg
*.vpwhistu
*.vpwhist
*.vpj
*.vpw

# binary file
obj/
bin/
obj64/
release/
/neurolabi/lib/genelib/src/*.c
/neurolabi/c/config.log
/neurolabi/lib/genelib/src/config.log
gui-build-desktop/

/neurolabi/c/Makefile-def
/neurolabi/c/config.status
/neurolabi/c/include/neurolabi_config.h
/neurolabi/lib/genelib/src/config.status

